html, body {
  height: 100%;
  margin: 0;
}
.full-wrap {
  min-height: 100%;
  margin: 0 auto -100px;
}

.site-content {
	padding: 20px;
}

body {
	padding: 0;
	margin: 0;
}

.content-area {
	padding: 20px;
	clear: both;
}