// Fancy font
@import url('https://fonts.googleapis.com/css?family=Merienda');

// regular font
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

body {
	font-family: 'ABeeZee', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Merienda', Helvetica, serif;
	color: #2e2e2e;
}