// sticky footer
.full-wrap {
  min-height: 100%;
  margin: 0 auto -150px;
}
.site-footer,
.push {
	clear: both;
  height: 150px;
}

.site-footer {
	border-style: solid; border-width: 45px 0px 0px; 
	-moz-border-image: url("img/purplelace.png") 45 1 0 0 repeat; 
	-webkit-border-image: url("img/purplelace.png") 45 1 0 0 repeat; 
	-o-border-image: url("img/purplelace.png") 45 1 0 0 repeat; 
	border-image: url("img/purplelace.png") 45 1 0 0 fill repeat;
	background-clip: padding-box;
	background-color: #7f719e;
	text-align: center;
	color: #ffffff;
	font-size: 80%;
	position: relative;
	left:0;
	bottom:0;
	width: 100%;
	margin-top: 30px;
}

.site-info {
	height: 40px;
	margin-top: 30px;
}